<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
</head>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript">
function fn_list(){
	var postdata = {
			'id':'1'
	};
	$.ajax({
		type: 'POST',
		url: 'ajax',
		data: JSON.stringify(postdata),
		dataType : 'JSON',
		contentType: "application/json",
		success: function(data){
			console.log(data);
			
			var list = data.list;
			var html = "";
			for(var i=0;i<list.length;i++){
				var e = list[i];
				html += `
				<tr>
					<td><a href="javascript:fn_one('${e.e_id}')">${e.e_id}</a></td>
					<td><a href="">${e.e_name}</a></td>
					<td><a href="">${e.sex}</a></td>
					<td><a href="">${e.addr}</a></td>
				</tr>
				`;
			}
			
            var obj = document.querySelector("#my_tbody");
            obj.innerHTML=html;
		},
		error: function(request, status, error){
			console.log(error);
		}
	});
}

function fn_one(e_id){
	var param = {
			'e_id':e_id
	};
	$.ajax({
		type: 'POST',
		url: 'ajax_one',
		data: JSON.stringify(param),
		dataType : 'JSON',
		contentType: "application/json",
		success: function(data){
			var emp = data.emp;
			
			console.log(emp.e_id);
			
			var obj_e_id   = document.querySelector("#e_id"); 
			var obj_e_name = document.querySelector("#e_name"); 
			var obj_sex    = document.querySelector("#sex"); 
			var obj_addr   = document.querySelector("#addr"); 
			
			obj_e_id.value = emp.e_id;
			obj_e_name.value = emp.e_name;
			obj_sex.value = emp.sex;
			obj_addr.value = emp.addr;
		}
	});
}

function fn_add(){
	
	var obj_e_id   = document.querySelector("#e_id"); 
	var obj_e_name = document.querySelector("#e_name"); 
	var obj_sex    = document.querySelector("#sex"); 
	var obj_addr   = document.querySelector("#addr"); 
	
	
	var param = {
			'e_id'  :obj_e_id.value,
			'e_name':obj_e_name.value,
			'sex'  :obj_sex.value,
			'addr':obj_addr.value
	};
	$.ajax({
		type: 'POST',
		url: 'ajax_add',
		data: JSON.stringify(param),
		dataType : 'JSON',
		contentType: "application/json",
		success: function(data){
			var cnt = data.cnt;
			console.log(cnt);
			if(cnt==1){			
				alert("정상적으로 추가되었습니다");
	            fn_list();
	            obj_e_id.value="";
	            obj_e_name.value="";
	            obj_sex.value="";
	            obj_addr.value="";
			} else {
				alert("등록이 실패하였습니다 ");
			}
		}
	});
}

function fn_edit(){
	
	var obj_e_id   = document.querySelector("#e_id"); 
	var obj_e_name = document.querySelector("#e_name"); 
	var obj_sex    = document.querySelector("#sex"); 
	var obj_addr   = document.querySelector("#addr"); 
	
	var param = {
			'e_id'  :obj_e_id.value,
			'e_name':obj_e_name.value,
			'sex'  :obj_sex.value,
			'addr':obj_addr.value
	};
	$.ajax({
		type: 'POST',
		url: 'ajax_edit',
		data: JSON.stringify(param),
		dataType : 'JSON',
		contentType: "application/json",
		success: function(data){
			var cnt = data.cnt;
			console.log("수정되는 갯수 : ",cnt);
			if(cnt==1){			
				alert("정상적으로 수정되었습니다");
	            fn_list();
			} else {
				alert("수정 도중 문제가 생겼습니다");
			}
		}
	});
}

function fn_del(){
	
	var obj_e_id   = document.querySelector("#e_id"); 
	var obj_e_name = document.querySelector("#e_name"); 
	var obj_sex    = document.querySelector("#sex"); 
	var obj_addr   = document.querySelector("#addr"); 
	
	var param = {
			'e_id'  :obj_e_id.value,
			'e_name':obj_e_name.value,
			'sex'  :obj_sex.value,
			'addr':obj_addr.value
	};
	$.ajax({
		type: 'POST',
		url: 'ajax_del',
		data: JSON.stringify(param),
		dataType : 'JSON',
		contentType: "application/json",
		success: function(data){
			console.log(cnt);
			var cnt = data.cnt;
			if(cnt==1){			
				alert("정상적으로 삭제되었습니다");
	            fn_list();
	            obj_e_id.value="";
	            obj_e_name.value="";
	            obj_sex.value="";
	            obj_addr.value="";
			} else {
				alert("삭제가 실패하였습니다");
			}
		}
	});
}
</script>
<body onload="fn_list()">
	<table border="1px">
		<thead>
			<tr>
				<th>사번</th>
				<th>이름</th>
				<th>성별</th>
				<th>주소</th>
			</tr>
		</thead>
		<tbody id="my_tbody"><!--  -->
		</tbody>
	</table>
	<table border="1px">
		<tr>
			<td>사번</td>
			<td><input type="text" id="e_id"/></td>
		</tr>
		<tr>
			<td>이름</td>
			<td><input type="text" id="e_name"/></td>
		</tr>
		<tr>
			<td>성별</td>
			<td><input type="text" id="sex"/></td>
		</tr>
		<tr>
			<td>주소</td>
			<td><input type="text" id="addr"/></td>
		</tr>
		<tr>
			<td colspan="2">
				<input type="button" value="추가" onclick="fn_add()"/>
				<input type="button" value="수정" onclick="fn_edit()"/>
				<input type="button" value="삭제" onclick="fn_del()"/>
			</td>
		</tr>
	</table>
</body>
</html>